.task {
    position: relative;
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
    padding: 5px 5px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.taskTitle {
    padding-right: 75px;
}
.taskRemoveIcon {
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 5px;
}
.taskEditIcon {
    position: absolute;
    cursor: pointer;
    right: 31px;
    top: 5px;
}
.taskCheckIcon {
    position: absolute;
    cursor: pointer;
    right: 57px;
    top: 5px;
}
.selectedTask {
    border: 1px solid red;
}
